<!-- 
<p>Static : Default. Stacking.</p>

<div class="box static">Position: static;</div>
<div class="box static">Position: static;</div>

<div class="box static">
  Position: static;
  <div class="box static">Position: static;</div>
</div>
-->

<!-- ////////////////////////////////////////////////////////////////////////// -->

<!-- 
<p>Relative : Like a landmark. Any absolute child will look to this element.</p>

<div class="box relative">Position: relative;</div>
<div class="box relative">Position: relative;</div>

<div class="box relative">
  Position: relative;
  <div class="box relative">Position: relative;</div>
</div>
-->

<!-- ////////////////////////////////////////////////////////////////////////// -->

 
<p>Absolute : Looking for the nearest relative parent.</p>

<div class="box relative">
  Position: relative;
  <div class="box absolute">Position: absolute;</div>
</div>

<p>How make positioned element not overflow? Floats?</p>
<p>Why is text bigger in second box? EM's</p>


<!-- ////////////////////////////////////////////////////////////////////////// -->

<!-- 
How ems behave. Relative to context.

<div class="box">
  1
  <div class="box">
    2
    <div class="box">
      3 
    </div>
  </div>
</div>
-->

<!-- ////////////////////////////////////////////////////////////////////////// -->

<!-- 
Flexbox
The idea is that elements "strive" to be certain sizes
They have goals and when those goals can't be reached they have rules for compromise.
Below ie8, skip Flexbox

<div class="flexbox-container">
  <div class="flexbox flexbox-1">
    Flexbox item 1
  </div>
  <div class="flexbox flexbox-2">
    Flexbox item 2
  </div>
</div>
-->

<!-- ////////////////////////////////////////////////////////////////////////// -->


<!-- 
Inspector
Show inspector tricks when we have something to inspect 

Positioning, centering, document flow
Floating and clearing

Animations & Transitions
calc()
New selectors http://www.w3.org/TR/selectors/#selectors
Linear & radial gradients: styling elements
Columns
3D transforms
Media queries & Responsive techniques
Table display

SCSS
Hierarchical strategies
When to split a file
When to split a style definition
What goes into a file, and what does not go.
Base files
When things change (redefining styles)
When styles collide (specific style changes within another style)


Bourbon, Neat, Bitters, Refills
How we at thoughtbot use and build frameworks
Not show installation. Waste of time.
Show basics of Bourbon includes, neat grids, 

Formatting files for readability
Finding out why something doesn’t work. Bug fixing.

HTML
Semantic markup
New HTML5 elements http://www.w3schools.com/html/html5_new_elements.asp
Tools for faster markup 
-->
